:root {
  font-family: Inter;
  background-color: #FFF7ED;
}
 
body{
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.vanlife-logo{
  font-weight: 900;
  color: black;
  font-size: 25px;
  line-height: 40px;
  vertical-align: middle;
  letter-spacing: 0%;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

nav a{
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #4D4D4D;
  font-family: Inter
}

nav a:active{
  text-decoration: underline;
}

footer{
  position: absolute;
  top: 130%;
  width: 96%;
  margin: 0px;
  padding: 30px;
  background-color: #252525;
  color: #AAAAAA;
  text-align: center;
}

.home-container{
  height: calc(100vh - 100px - 60px);
  background-image: url('../src/assets/image.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

  color: white;
  text-align: center;
}

.home-container > h1{
  font-weight: 800;
  font-size: 70px;
  line-height: 42px;
  color: #FFFFFF;
  font-family: Inter
}

.home-container > p{
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #FFFFFF;
  font-family: Inter
}

.home-container > button{
  width: 500px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF8C38;
  margin: 20px;
  border: none;
  font-family: Inter
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container > img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.about-container > h1{
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin: 30px;
  font-family: Inter
}

.about-container > p{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 80px 0 30px;
  font-family: Inter
}

.explore-container{
  width: 90%;
  height: 200px;
  border-radius: 5px;
  margin: 50px;
  background-color: #FFCC8D;
}

.explore-container > h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  left: 40px;
  top: 10px;
  font-family: Inter
}

.explore-container > button{
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: #161616;
  color: #FFF7ED;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 20px;
  left: 40px;
  font-family: Inter;
}

.filter-buttons{
  display: flex;
  gap: 20px;

}

.filter-buttons > button{
  width: 104px;
  height: 40px;
  border-radius: 5px;
  background-color: #FFEAD0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4D4D4D;
  border: none;
  font-family: Inter;
}

.filter-buttons > a {
  position: relative;
  top: 10px;
  left: 30%;
  text-decoration: underline;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
}


.vans-header{
  margin: 50px;
}

.vansElement{
  position: absolute;
  left: 18%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.vanElement > a{
  display: block;
  text-decoration: none;
  color: inherit;
}

.vanElement img{
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.van-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.van-info h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  font-family: Inter;
}

.price-sec{
  position: relative;
  top: 10px;
}

.price{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.per{
  position: relative;
  top: -10px;
  left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  font-family: Inter;
}

.vanElement button{
  width: 85px;
  height: 33px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  line-height: 30px;
  color: #FFEAD0;
  position: relative;
  top: -10px;
  font-family: Inter;
}

.simple{
  background-color: #E17654;
}

.rugged{
  background-color: #115E59;
}

.luxury{
  background-color: #161616;
}

.vanDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.vanDetail > img{
  width: 500px;
  height: 490px;
  border-radius: 5px;
}

.detail-content-wrapper{
  position: relative;
  top: 50px;
  width: 500px;
}

.typebutton{
  position: relative;
  top: 0px;
  width: 85px;
  height: 34px;
  border-radius: 5px;
  background-color: #E17654;
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
  color: #FFEAD0;
  border: none;
  font-family: Inter
}

.detail-content-wrapper > h1{
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  font-family: Inter;
  color: #161616;
}

.price-detail{
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

.per-detail{
  font-weight: 500;
  font-size: 18px;
  line-height: 44px;
}

.detail-content-wrapper > p{
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter;
}

.rent-button{
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #FF8C38;
  color: #FFEAD0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-family: Inter;
  position: relative;
  top: 20px;
}

.back{
  margin: 30px;
}